<main>
  <h2>マイページ</h2>
  <div class="container">
    <div class="row">
      <%# @customer.each do |customer| %>
      <div class="col-4">
        <%#= attachment_image_tag customer, :image %>
      </div>
      <div class="col-4">
        <p>名前</p>
        <p>フリガナ</p>
        <p>郵便番号</p>
        <p>住所</p>
        <p>電話番号</p>
        <p>メールアドレス</p>
        <p>ボランティア経験</p>
      </div>
      <%# end %>
      <div class="col-4">
        <h5>予定しているボランティア</h5>
        <div class="text-right">
          <%= link_to "編集する", edit_public_customers_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>
</main>