<div>
  <table>
    <% notification.each do |n| %>
      <tr>
        <td><%= n.message.message %></td>
        <td><%= n.message.customer.last_name %></td>
        <td><%= link_to '既読にする', notification_path(n.id), method: :patch %></td>
      </tr>
    <% end %>
  </table>
</div>