/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";
@import "bootstrap";

body{
  background-color: #EEFFFF;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", seri
}


.navbar{
  display: flex;
  flex-dirextion: row;
}

.header-bg{
  background-color: #CCFFFF;
}

.footer-bg{
  background-color: #CCFFFF;
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
}

.footer-text{
  color: #007bff
}

.slick-next{
  right: 10px;
  z-index: 100;
}

.slick-prev{
  left: 10px;
  z-index: 100;
}

.frame{
  display: inline-block;
  position: relative;
}

.frame:after{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transform: rotate(3deg);
  background: #fff;
  z-index: -1;
}

.border-index{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.link:hover{
  background-color: #cce9ff;
}

// ログイン画面の写真
// .back-image{
//   width: 100%;
// }
// // サインアップ画面の写真
// .back-image-signup{
//   width: 100%;
// }

// ボランティア一覧のbackground
.volunteer-bg{
  width: 100%;
  height: auto;
}
// カレンダーのサイズ
#calendar{
  height: 1000px;
  width: 1000px;
}

// エラーメッセージ
.error-messages{
  color: white;
  background-color: #FFBBFF;
}

// サクセスメッセージ
#notice{
  margin: auto;
  text-align: center;
  color: white;
  background-color: #33FF66;
  width: 70%;
}

// logoの編集
.btn-gradient {
  width: 280px;
  font-size: 30px;
  color: blue;
  padding-top: 15px;
  background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
  background-image: linear-gradient(-20deg, #adb3bd45 0%, #f8f9fa 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-gradient span {
  background-image: -webkit-gradient(linear, left top, right top, from(#93a5cf), to(#e4efe9));
  background-image: -webkit-linear-gradient(left, #93a5cf 0%, #e4efe9 100%);
  background-image: linear-gradient(to right, #93a5cf 0%, #e4efe9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient:hover {
  border-radius: 5%;
  background-image: linear-gradient(-20deg, #0062cc 0%, #f8f9fa 100%);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  -webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.15,1.15);
	-o-transform: scale(1.15,1.15);
	-ms-transform: scale(1.15,1.15);
	transform: scale(1.15,1.15);
}

// showプロフィール写真ない場合
.profile_image{
  width: 200px;
  height: 200px;
  background-image: image-url('no_image.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

// chatプロフィール写真ない場合
.profile_image_chat{
  width: 45px;
  height: 45px;
  background-image: image-url('no_image.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

// 承認ページの写真がない場合
.profile_image_applies{
  width: 150px;
  height: 150px;
  background-image: image-url('no_image.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

// volunteer詳細へ
.search{
  text-align: right;
}

.volunteer_about{
  margin-top: 30px;
  margin-bottom: 30px;
}

.volunteer_about_litle{
    margin-right: 10px;
  }

.volunteer_explanation{
  margin: 50px auto;
}

.go_volunteer_show{
  margin-top: 290px;
  text-align: center;
}

// customer_showの吹き出し
.my_comment {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff0c6;
  border-radius: 30px;
}

.my_comment:before {
  content: "";
  position: absolute;
  top: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #fff0c6;
  border-radius: 50%;
}

.my_comment:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 24px;
  width: 20px;
  height: 18px;
  bottom: 10px;
  background: #fff0c6;
  border-radius: 50%;
}

.my_comment p {
  margin: 0;
  padding: 0;
}

.volunteer_edit{
  margin: 20px auto;
}

.apply_button{
  text-align: center;
  margin-bottom: 10px;
}

.phone-chat{
  display: none;
}

// ハンバーガーメニューのチェックを隠す
#menu-btn-check {
    display: none;
}

.menu-content{
  display: none;
}

.paginate{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.apply_volunteer{
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.header-name{
  margin-right: 400px;
}

.about_recruiter{
  margin-bottom: 50px;
}



// レスポンシブ対応　max-width:768px以下
@media screen and(max-width: 768px){
  body{
    with: 100%;
  }

  // トップページ
  .top_visual{
    height: 1100px;
    margin-bottom: 200px;
    background-image: image-url('sakura.jpg');
    background-size: cover;
    background-position: right;
  }

  .nav-item{
    margin-bottom: 20px;
  }

  .main-text{
    margin-top: 100px;
  }

  // signin,signupページ
  .field{
    margin-bottom: 30px;
  }

  .login-form{
    margin-bottom: 50px;
  }

  .signup-form{
    margin-bottom: 130px;
  }

// ボランティアindexページ
  .search{
    text-align: center;
  }

  .volunteer_about{
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .volunteer_about_litle{
    margin-bottom: 5px;
  }

  .frame{
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }

  .volunteer_explanation{
    text-align: center;
  }

  .go_volunteer_show{
    text-align: center;
    padding: 0 240px;
    margin: 20px;
  }

  .paginate{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // ボランティアshowページ
  .volunteer_show{
    text-align: center;
    padding-bottom: 30px;
  }

  .frame-slider{
    margin-top: 50px;
  }

  .slick-list img{
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }

  .chat-button{
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .customer_show{
    margin-bottom: 30px;
  }

  .show_image{
    text-align: center;
    margin-bottom: 20px;
  }

  // ボランティアeditページ
  .my_comment:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 350px;
    width: 20px;
    height: 18px;
    bottom: 10px;
    background: #fff0c6;
    border-radius: 50%;
    }

  .customer_volunteer_index{
    text-align: center;
    margin: 50px auto;
  }

  .submit-button{
    text-align: center;
    margin: 40px;
  }

  .edit_image{
    text-align: center;
    margin-bottom: 50px;
  }

  .volunteer_edit{
    padding-bottom: 30px;
  }

  // 通知一覧ページ
  .about_notification{
    display: none;
  }

  .notification_index{
    margin: 50px;
  }

  .notification_comment{
    margin-bottom: 20px;
  }

  .notification_button{
    padding-right: 40%;
    padding-left: 40%;
  }

  // リクルーターshow
  .recruiter_volunteer_index{
    margin: 50px;
  }

  .apply_index{
    text-align: center;
  }

  .apply_images{
    text-align: center;
  }

  .apply_button{
    padding-right: 40%;
    padding-left: 40%;
    margin: 30px;
  }

  .pc-chat{
    display: none;
  }

  .phone-chat{
    display: block;
    margin: 31px auto;
  }

  // ハンバーガーメニュー
  .pc-nav{
    display: none;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: #ffffff;
      position: absolute;
  }

  .menu-btn span:before {
      bottom: 8px;
  }

  .menu-btn span:after {
      top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }

  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }

  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
  }
  .menu-content ul {
      padding: 70px 10px 0;
  }
  .menu-content ul li {
      border-bottom: solid 1px #ffffff;
      list-style: none;
  }
  .menu-content ul li a {
      display: block;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      color: #000011;
      text-decoration: none;
      padding: 9px 15px 10px 0;
      position: relative;
  }
  .menu-content ul li a::before {
      content: "";
      width: 7px;
      height: 7px;
      border-top: solid 2px #ffffff;
      border-right: solid 2px #ffffff;
      transform: rotate(45deg);
      position: absolute;
      right: 11px;
      top: 16px;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #66FFFF;
    transition: all 0.5s;/*アニメーション設定*/
    padding-top: 100px;
  }

  #menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
  }
  
  .menu-content{
    display: block;
    & li :hover{
      background-color: #AEFFBD;
    }
  }
  
  .app_volunteer_name{
    margin-top: 40px;
  }
  
  .about_recruiter{
    margin-bottom: 50px;
    padding: 20%;
  }

}