// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.row-nav{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.t-main{
  height: 800px;
  justify-content: center;
}

.about-volunteer{
  background-color: #D7EEFF;
  font-size: 30px;
  border-radius: 50%;
  margin: 100px;
}

.recruiter-in{
  margin-top: 100px;
}

// トップ画面画像
.top_visual{
  width: 100%;
  height: 1300px;
  background-image: image-url('PF.top.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.full div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.full div.img01 {
  background-image: image-url('PF.top.jpg');
}
.full div.img02 {
  background-image: image-url('PF.footer.jpg');
}
.full div.img03 {
  background-image: image-url('sakura.jpg');
}
.full .slick-dots {
    bottom: 4%;
    z-index: +1;
}


// トップ画面フッダー画像
.bottom_visual{
  width: auto;
  height: 300px;
  background-image: image-url('PF.footer.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.about-image{
  width: 100%;
  height: 100vh;
}

li{
  list-style: none;
}

.top_visual h2{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
  
  h2{
    text-shadow: 30px 30px 30px #ffffff ,
    0px 0px 20px #f8f9fa,
    0px 0px 40px #f8f9fa,
    0px 0px 60px #f8f9fa,
    0px 0px 100px #f8f9fa;
}

.nav-item{
  margin-right: 10px;
//   border-right: 2px;
//   border-color: black;
//   padding: 10px 16px;
// &:hover{
//   border-radius: 10px;
//   background-color: #BAD3FF;
//   box-shadow: 0 5px 10px #D7EEFF;
// 　transform: translate(0, -5px);
// }
}

// .link_a{
//   font-size: 30px;
// }

a {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  text-decoration: none;
  border-radius: 4px;
  padding: 7px;
}

a.button {
  color: rgba(0, 86, 255, 0.6);
  box-shadow: rgba(0, 86, 255, 0.4) 0 0px 0px 2px inset;
}

a.button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(0, 0, 255, 0.7) 0 80px 0px 2px inset;
}
