// rooomページのレイアウト

.room_container{
  background-color: gray;
}

.chat-space{
    position: relative;
    text-align: center;
    height: 200px;
    line-height: 200px;
    position: relative;
  &.chat-left{
  display: inline-block;
  margin: 1.5em 0 1.5em 70px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  &:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}
}
 &.chat-right{
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
&:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}
}
}

.message-right{
    margin-right: 150px;
}